html {
    font-size: 62.5%;
}
/* =10px */

html, body {
    max-width: 100%;
}

body {
    margin: 0;
    display: block !important;
    color: $body-color;
    background-color: $body-bg;
    min-height: 100vh;
    position: relative;
}
.overFlow--hidden {
    overflow: hidden;
}